<div class="card">
  <div class="card-header">
    <h1>New Puppy</h1>

    <%= form_with(model: pup, local: true) do |form| %>
      <% if pup.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(pup.errors.count, "error") %> prohibited this pup from being saved:</h2>

          <ul>
          <% pup.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
          <%= form.label :image %>
          <%= form.file_field :image , class: 'form-control'%>
          
      <div class="form-group">
        <%= form.label :tag %>
        <%= form.text_field :tag, id: :pup_tag, class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= form.label :breed %>
        <%= form.text_field :breed, id: :pup_breed, class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= form.label :body %>
        <%= form.text_area :body, id: :pup_body, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :price %>
        <%= form.text_field :price, id: :pup_price, class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= form.submit "Submit", class: 'btn btn-primary' %>
        <%= link_to 'Back', pups_path, class:"btn btn-warning" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
