
<div class="jumbotron jumbotron-fluid small">
  <div class="container">
    <h1 class="display-4">Puppies</h1>
    <p class="lead">If you are interested in any of the puppies give us a call at 123-456-9428</p>
    <%= link_to 'New Pup', new_pup_path, class: "btn btn-warning" %>
  </div>
</div>

  <div class="card-deck">
    <% @pups.each do |pup| %>

    <div class="card text-white bg-secondary" style="width: 18rem;">
    <%= image_tag pup.image.url, class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"><%= pup.breed %></h5>
        <p class="card-text"><%= pup.body %></p>
        <p><%= link_to 'Look at me!', pup %>
        <%= link_to 'Edit', edit_pup_path(pup) %>
        <%= link_to 'Delete', pup, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <a href="#" class="btn btn-outline-warning"><%= pup.price %></a>
        <a href="#" class="btn btn-outline-danger">Call Us</a>
      </div>
    </div>
    <% end %>
</div>
