<div class="card text-center">
  <div class="card-header mb-0">
    <h3> <%= @post.title %> </h3>
  </div>
  <div class="card-body">
    <%= image_tag @post.image.url(:large) %>
    <h3 class="card-title mb-0"></h3>
    <p class="card-text">  <%= @post.body %> </p>

  </div>
  <div class="card-footer text-muted">
    <%= link_to 'Edit', edit_post_path(@post), class:"btn btn-primary"%>
    <%= link_to 'Back', posts_path, class:"btn btn-warning" %>

  </div>
</div>
